<div id="movie-show">
  <div id="movie">
    <h3>Movie:</h3>
    <%= @movie.movie_name %>
  </div>

  <div id="director">
    <h3>Director:</h3>
    <%= @movie.director %><br>
  </div>

  <div>
    <h3>Votes: <%= @movie.votes %> </h3>
  </div>

  <div id="description">
    <h3>Description:</h3>
    <%= @movie.description %>
  </div>


  <%= button_to "Upvote", movie_vote_path(@movie.id), method: :patch, :class => "btn btn-primary" %><br>
  <%= link_to "Edit", movie_edit_path, :class => "btn btn-default" %>
  <%= link_to "Delete", movie_delete_path, :class => "btn btn-danger" %>
  <%= link_to "View All Movies", movies_path, :class => "btn btn-default" %>
</div>